@import-normalize; /* bring in normalize.css styles */

:root {
  --main-text-color: #2b2b2b;
  --second-text-color: #f0f0f0;
  --accent-text-color: #341b49;

  --main-bg-color: #f0f0f0;
  --second-bg-color: #843c8d;
  --accent-bg-color: #472364;
  --backdrop-bg-color: rgba(43, 43, 43, 0.6);

  --hover-animation: 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --linear-gradient: linear-gradient(to bottom, #843c8d, #530a8f);
  --box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--main-bg-color);
  color: var(--main-text-color);

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
